<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatQuest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    
</head>

<body>
  {% include 'navbar.html'%}
  <h2 class="h3 m-1 text-center">Welcome back, {{user}}</h2>
  <div class="dash-container container-fluid">
    <div class="row d-flex flex-wrap align-items-stetch">

      <!--left window, contains stats-->
      <div class="col-lg-3">
        <h4 class="text-secondary text-center">stats</h4>
        <div class="border border-2 rounded shadow p-2 mb-2 text-center glass-effect">
          <h5 id="hp-stat">{{user}}'s cat</h5>
        </div>
        <div class="border border-2 rounded shadow m-3 text-center mb-2 glass-effect">
          
          <img
                src="{{ url_for('static', filename='images/catsprite-s.png') }}"
                alt="Avatar"
                class="dash-avatar">
        </div>

        <div class="border border-2 rounded shadow p-3 mb-2 glass-effect">
          <p id="hp-stat">Health: </p>
          <p id="def-stat">Defense: </p>
          <hr>
          <p id="atk-stat">Attack: </p>
          <p id="crit-stat">Critical%: </p>
          <hr>
          <p id="xp-bar">Xp till next level:</p>
          <div class="progress">
            <div class="progress-bar" role="progressbar bg-success" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>

        </div>
      </div>

        <!--centre window, for inventory-->
      <div class="col-lg-6 h-100">
        <h4 class="text-secondary text-center">inventory</h4>

        <div class="border border-2 rounded shadow p-4 text-center glass-effect">
          <div class="inventory-grid row row-cols-1 row-cols-md-2 row-cols-xl-3 overflow-y-auto">

            <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                        <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                        <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                        <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                        <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                        <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
                                    <div class="card  border-2 shadow-sm rounded-4">
              <img class="card-image-top m-3" src="{{ url_for('static', filename='images/catsprite-s.png') }}" alt="an image">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">Placeholder</h5>
                <button class="btn btn-primary mt-auto buy-weapon-button" data-cost="" data-item-name="">Equip</button>
              </div>
            </div>
          </div>
        </div>
      </div>
              <!--right window, will host leaderboard and perhaps alos-->
      <div class="col-lg-3">
        <h4 class="text-secondary text-center">Leaderboard</h4>
        

        <div class="border border-2 rounded shadow p-3 mb-2 glass-effect">
          <p class="">1:</p><hr>
          
          <p class="">2:</p><hr>
          <p class="">3:</p><hr>
          <p class="">4:</p><hr>
          <p class="">5:</p>
          
        </div>
        <h4 class="text-secondary text-center">Activity</h4>
        <div class="border border-2 rounded shadow p-3 text-center mb-2 glass-effect">

        </div>
      </div>

    </div>

  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/connect.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>